body {
    background-color: #DACCDA;
  }
  div {
    font-style: italic;
    font-size: 2rem;
  }
  .first-paragraph {
    font-size: 5rem;
    border: 1px purple solid;
  }
  #some-p {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .kiara {
    width: 17rem;
    height: 5rem;
    font-size: 3rem;
    border-radius: 1rem;
    transition: all 1s ease-out;
  }
  .kiara:hover {
    cursor: pointer;
    background: purple;
    font-style: italic;
    box-shadow: 1px 1px 15px 8px #000000;
  }
  .kiara:focus {
    outline: none;
  }